{% assign sidebarName = include.sidebarName | default: "googleplus" %}
{% assign profileId = site.jaytch.layout.sidebars.[sidebarName].profileId %}
<div class="googleplusfeed">{{ profileId }}</div>
{% assign rendered=true %}