<span class='{{ include.class | default: "countdown" }} {{ include.mode | default: "inline" }}'>
  <span class="value" style="display:none">{{ include.datetime | default: page.date | default: site.time }}</span>
  <span class="valueGroup"><span class="valueDays">&nbsp;</span> days</span>
  <span class="valueGroup"><span class="valueHours">&nbsp;</span> hrs</span>
  <span class="valueGroup"><span class="valueMinutes">&nbsp;</span> min</span>
  <span class="valueGroup"><span class="valueSeconds">&nbsp;</span> sec</span></span>