<div class='{{ include.class | default: "countdown" }}'>
  <span class="value" style="display:none">{{ include.datetime }}</span>
  <div class="valueGroup"><div class="valueDays">&nbsp;</div> Days</div>
  <div class="valueGroup"><div class="valueHours">&nbsp;</div> Hours</div>
  <div class="valueGroup"><div class="valueMinutes">&nbsp;</div> Minutes</div>
  <div class="valueGroup"><div class="valueSeconds">&nbsp;</div> Seconds</div>
</div>